  <div class="simula {{simulaSts}}" (click)="toggle()">

    <h6><span class="pull-left"> « click</span> <span class="pull-right">click » </span></h6>

    <div style="margin-top: 32px; width: 450px">
        <iframe src="https://sims.cetelem.pt/sims/gestlifes-ext.html" style="max-width:450px; height:354px;" scrolling="no">
        </iframe>
<!--         <iframe  ng-if="tpc=='CP' || tpc=='AU'" src="https://sims.cetelem.pt/sims/gestlifes-epf.html" style="max-width:450px; height:354px;"  scrolling="no">
        </iframe> -->
  </div> 

</div>
