<div class="container">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="procurar..." [(ngModel)]="search" aria-label="Username" aria-describedby="basic-addon1">
      </div>
  <div class="table-responsive-sm">
    <table class="table table-condensed-sm table-striped" [mfData]="leads" #mf="mfDataTable" [mfRowsOnPage]="10">
      <thead class="thead-dark">
        <tr>
          <th>
            <mfDefaultSorter by="lead">Cliente</mfDefaultSorter>
          </th>
          <th>
              <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
          </th>
          <th>NIF</th>
          <th>Email</th>
          <th>
              <mfDefaultSorter by="dataentrada">Data Entrada</mfDefaultSorter>            
          </th>
          <th>
              <mfDefaultSorter by="status">Situação</mfDefaultSorter>
          </th>
          <th>
              <mfDefaultSorter by="datastatus">Data Situação</mfDefaultSorter>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ld of mf.data | filter: search">
          <th><a routerLink="/detLead/{{ld.lead}}">{{ld.lead}}</a></th>
          <td>{{ld.nome}}</td>
          <td>{{ld.nif}}</td>
          <td>{{ld.email}}</td>
          <td>{{ld.dataentrada}}</td>
          <td *ngIf="ld.sts!=23" [class]="ld.status">{{ld.status}}</td>
          <td *ngIf="ld.sts==23" class="Aprovado">Aprovado</td>
          <td>{{ld.datastatus}}</td>
          <td>
              <button class="btn btn-outline-info" (click)="anexarDoc(ld.lead)" title="Anexar documentação"><i class="fa fa-upload"></i></button>
              <a class="btn btn-outline-primary" routerLink="/det/{{ld.lead}}" title="Editar"><i class="fa fa-pencil"></i></a>
          </td>
        </tr>
      </tbody>
      <tfoot>
          <tr>
              <td colspan="8">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
              </td>
          </tr>
      </tfoot>
    </table>
  </div>
</div>
